<div class="row d-flex align-items-center">
  <div class="fs-2 col-1 d-flex justify-content-center"><%= season_line.team.name %></div>
  <div class="fs-2 col-1 d-flex justify-content-center"><%= season_line.line %></div>
  <div class="fs-2 col-1 d-flex justify-content-center"><%= season_line.projected_wins %></div>
  <div class="col-9">
    <div class="row">
      <% season_line.picks.joins(:user).merge(User.order(:name)).each do |pick| %>
      <div class="col m-1 p-0 ratio ratio-1x1">
          <% pick_is_correct = pick.correct? %>
          <% cell_classes = %w(p-0 rounded d-flex justify-content-center align-items-center)%>
          <% cell_color = pick_is_correct ? " bg-success" : " bg-danger" %>
          <% icon_classes = { true => "fas fa-2x fa-arrow-alt-circle-up", false => "far fa-2x fa-arrow-alt-circle-down", nil => "boop" } %>
          <div class="<%= cell_classes.join(" ") + cell_color%>">
            <i class="<%= icon_classes[pick.over] %>"></i>
          </div>

      </div>
      <% end %>
    </div>
  </div>
</div>
