<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Hello
    </p>

    <p>This is your weekly generated Xanadu NBA Over/Under standings update.  As a reminder our scoring is: </p>

    <ul style="list-style-type: none">
      <li><%= ENV["PICK_INCORRECT_LOCKED"] || Rails.application.credentials[:PICK_INCORRECT_LOCKED] %> for an locked incorrect pick</li>
      <li><%= ENV["PICK_INCORRECT"] || Rails.application.credentials[:PICK_INCORRECT] %> for a incorrect pick</li>
      <li><%= ENV["PICK_CORRECT"] || Rails.application.credentials[:PICK_CORRECT] %> for a correct pick</li>
      <li><%= ENV["PICK_CORRECT_LOCKED"] || Rails.application.credentials[:PICK_CORRECT_LOCKED] %> for a locked correct pick</li>
    </ul>

    <h3 style="text-decoration: underline">Current Standings</h3>

    <ul style="list-style-type:none">
      <% @final_hash["standings"].each do |user, score| %>
        <li><%= user %> - <%= score %></li>
      <% end %>
    </ul>

    <p>
      <a href=<%= ENV["APPLICATION_ROOT_URL"] || Rails.application.credentials[:APPLICATION_ROOT_URL] %>>
        Click here to see the full Over/Under table
      </a>
    </p>
  </body>
</html>