<h1>NBA Over/Under Standings 2019-2020</h1>

<div class="intro">
  <div>
    <p class="spaced-header">Current Standings</p>

    <div class="standings">
      <% @standings.each do |contestant, score| %>
        <div>
          <div><%= contestant %></div>
          <div><%= score %></div>
        </div>
      <% end %>
    </div>
  </div>

  <div>
    <p class="spaced-header">Scoring</p>

    <ul style="list-style-type:none">
      <li>- 1 for an locked incorrect pick</li>
      <li>+ 0 for a incorrect pick</li>
      <li>+ 1 for a correct pick</li>
      <li>+ 2 for a locked correct pick</li>
    </ul>
  </div>
</div>

<table>
  <tr>
    <td>Team</td>
    <td>Win Total</td>
    <td>Projected Wins</td>
    <td>+/-</td>
    <% @contestant_names.each do |name| %>
      <td><%= name %></td>
    <% end %>
  </tr>
  <% @teams.each do |team| %>
    <tr>
      <td><%= team.name %></td>
      <td><%= team.line %></td>
      <td><%= team.projected_wins.round(1) %></td>
      <td><%= (team.projected_wins - team.line).round(1) %></td>
      <% @picks[team.name].each do |pick| %>
        <% if pick.over? && pick.lock? %>
          <td class="<%= pick.correct? ? 'correct' : 'incorrect'%>">
            <%= EmojiHelper.emojify("OVER :lock:") %>
          </td>
        <% elsif pick.over? %>
          <td class="<%= pick.correct? ? 'correct' : 'incorrect'%>">
            OVER
          </td>
        <% elsif pick.lock? %>
          <td class="<%= pick.correct? ? 'correct' : 'incorrect'%>">
            <%= EmojiHelper.emojify("UNDER :lock:") %>
          </td>
        <% else %>
          <td class="<%= pick.correct? ? 'correct' : 'incorrect'%>">
            UNDER
          </td>
        <% end  %>
      <% end %>
    </tr>
  <% end %>
</table>
<p class="updated_at"><%=  @last_updated %></p>