<!DOCTYPE html>
<html>
  <head>
    <title>NbaOverUnder</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://kit.fontawesome.com/9091341b10.js" %>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <%= content_tag("p", class: "notice") { notice } if notice %>
        <%= content_tag("p", class: "alert") { alert } if alert %>
      
        <div class="col-sm-12">
          <%= yield %>
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
        </div>
      </div>
    </div>
  </body>
</html>
